@media (max-width: 1350px) {
  .container {
    max-width: 1312px;
    padding: 0 16px;
  }

  .comparison__slide-width {
    flex-basis: auto;
  }

  .comparison .line-swiper1__img-box {
    margin: 0 auto 8px;
  }
}

@media (max-width: 1200px) {
  .footer__content {
    grid-template-columns: repeat(3, max-content);
    gap: 14px 40px;
  }

  .footer__content-item--1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .footer__content-item--2 {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .footer__content-item--4 {
    grid-column: 3/4;
    grid-row: 2/4;
  }

  .footer__content-item--5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .guarantee__content {
    flex-direction: column;
    gap: 24px;
  }

  .guarantee__img-box {
    width: calc(100% - 36px);
    margin-right: auto;
  }

  .guarantee__img {
    width: 100%;
    min-height: 120px;
    height: auto;
  }

  .guarantee__img-mark {
    top: 50%;
    transform: translateY(-50%);
    right: -52px;
  }
}

@media (max-width: 1100px) {

  .topbar__nav,
  .header__nav,
  .header-compact {
    display: none;
  }

  .header__inner {
    margin: 0;
    height: 52px;
  }

  .logo {
    width: 38px;
    height: 38px;
  }

  .header__right {
    gap: 0;
  }

  .burger-btn {
    display: flex;
  }

  .breadcrumbs {
    margin: 0;
  }

  .contacts-info__info {
    flex-direction: column;
  }

  .contacts-info__info-item:not(:last-child) {
    border: none;
  }

  .contacts-info__addresses {
    flex-direction: column;
  }

  .catalog-category-text__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart__item-price {
    margin: 0;
  }

  .profile-sidebar {
    margin: 0;
    padding: 12px 0;
  }

  .profile-wrapper__content {
    padding: 0 0 32px;
  }
}

@media (max-width: 991px) {
  .footer__inner {
    gap: 0 5px;
  }

  .footer__content {
    grid-template-columns: repeat(2, max-content);
    gap: 14px 15px;
  }

  .footer__content-item--1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .footer__content-item--2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .footer__content-item--3 {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .footer__content-item--4 {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .footer__content-item--5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .hero__inner {
    grid-template-columns: 100%;
  }

  .mini-swiper1 {
    grid-column: 1/1;
    grid-row: 2/3;
  }

  .mini-swiper1 {
    max-width: 100%;
  }

  .magazine__bottom {
    flex-direction: column-reverse;
  }

  .subscribe-box__form {
    flex-direction: column;
  }

  .subscribe-box__form-btn {
    width: 100%;
  }

  .subscribe-box__form-input {
    max-width: 100%;
  }

  .magazine__bottom-box {
    max-width: 630px;
    width: 100%;
  }

  .magazine__bottom-box p {
    max-width: 100%;
  }

  .magazine__bottom-more {
    background: none;
    border: none;
  }

  .media-magazine .magazine__gallery-item--1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .media-magazine .magazine__gallery-item--2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .media-magazine .magazine__gallery-item--3 {
    grid-column: 1/3;
    grid-row: 4/5;
  }

  .media-magazine .magazine__gallery-item--4 {
    grid-column: 2/3;
    grid-row: 3/4;

    overflow: hidden;
    min-width: 156px;
  }

  .media-magazine .magazine__gallery-item--4 .img-pointer__img {
    width: 125%;
    min-height: 195px;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .target__inner {
    flex-direction: column;
  }

  .target-box {
    max-width: 700px;
    padding: 24px 15px 32px;
  }

  .target__call-me {
    max-width: 700px;
    padding: 24px 16px 32px;
  }

  .faq__more-decor {
    display: none;
  }

  .droplist-list {
    right: unset;
    left: 0;
    border-radius: 0px 6px 6px 6px;
  }

  .contacts-info__inner {
    grid-template-columns: 1fr 1fr;
  }

  .contacts-info__info-item {
    padding: 24px 16px 32px;
  }

  .contacts-info__addresses {
    padding: 28px 16px 32px;
  }

  .contacts-info__addresses-item {
    padding: 0;
  }

  .contacts-info__requisites {
    padding: 24px 16px 32px;
  }

  .responsibility__pictures {
    position: static;
    margin-bottom: 24px;
    flex-direction: row-reverse;
    gap: 36px;
  }

  .catalog__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .comparison__ad {
    display: none;
  }

  // .comparison,
  // .comparison-bottom {
  //   .slick-list {
  //     margin: 0 -16px;
  //     padding: 0 16px;
  //   }
  // }

  .comparison__head-slides {
    margin: 0;
  }

  .comparison__char-slides {
    margin: 0;

  }

  .comparison__char-list {
    display: flex !important;
    flex-direction: column;
    gap: 40px;
    gap: 0px;
    margin-top: 40px;
    margin-top: 0px;
  }

  .comparison__char-list--descr {
    margin-top: 0px;
    background: none;
    z-index: 5;

    .comparison__char-list-item:nth-child(even)::before {
      display: none;
    }

    .comparison__char-list-item:nth-child(even) {
      background: none;
    }
  }

  .comparison__char-list--descr {
    display: none !important;
  }

  .slick-current .comparison__char-list-item span {
    display: inline-block;
    opacity: 1;
  }

  .comparison__char-list-item span {
    display: inline-block;
    opacity: 0;
  }

  .comparison__char-list-item--2 {
    height: unset;
  }

  .comparison-head-compact__slides {
    padding-left: 0 !important;
  }

  .comparison-head-compact .top-up {
    display: none;
  }

  .comparison-head-compact .swiper-button-prev,
  .comparison-head-compact .swiper-button-next {
    display: none !important;
  }

  .comparison-head-compact .img-pointer__card-info-delete {
    display: none;
  }

  .comparison-head-compact .img-pointer__card-info-title {
    -webkit-line-clamp: 1;
  }

  .product-card {
    padding-top: 4px;
  }

  .product-card__images {
    margin: 0 -16px;
    width: calc(100% + 32px);
  }

  .product-card__images .swiper-wrapper {
    display: flex;
    gap: 0;
  }

  .product-card__img {
    max-width: 100%;
  }

  .slider-product-card .swiper-scrollbar {
    display: block;
  }

  .product-card__grid-box {
    display: flex;
    flex-direction: column;
  }

  .product-card__sidebar-reviews {
    order: -1;
  }

  .reviews__cards {
    display: block;
  }

  .reviews__rate {
    display: none;
  }

  .reviews__images .swiper-wrapper {
    display: flex;
    gap: 0;
  }

  .reviews__images-item {
    max-width: 128px;
  }

  .slider-reviews-images {
    padding-bottom: 24px;
    overflow: visible;
  }

  .slider-reviews-images .swiper-scrollbar {
    display: block;
  }

  .product-card__chars-head {
    width: calc(100% + 32px);
    overflow-x: scroll;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .product-card__chars-tab {
    max-height: unset;
  }

  .product-card__chars-list-item {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
  }

  .reviews__stars {
    display: block;
  }

  .cart__content {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .cart__sidebar {
    flex-direction: column-reverse;
  }

  .faq-cover__img-box {
    display: none;
  }

  .faq-backcall__inner {
    display: flex;
    flex-direction: column;
  }

  .faq-backcall__info-top {
    flex-direction: column;
    gap: 24px;
  }

  .faq-backcall__text {
    max-width: 100%;
  }

  .icon-arrow-long {
    display: none;
  }

  .cover__img-box {
    display: none;
  }

  .discussion__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .discussion__title {
    margin-bottom: 24px;
  }

  .discussion__descr {
    max-width: 100%;
    margin: 0 0 32px 0;
  }

  .discussion__btn {
    margin: 0;
  }

  .slider-logos,
  .swiper-steps {
    margin: 0 -16px;
    padding: 0 16px;
  }

  .logos .swiper-wrapper {
    justify-content: unset;
    flex-wrap: nowrap;
    gap: 0;
  }

  .logos .swiper-slide {
    width: unset;
  }

  .swiper-steps {
    padding-bottom: 24px;
  }

  .steps .swiper-wrapper {
    display: flex;
    gap: 0;
  }

  .steps .swiper-slide {
    width: 400px;
  }

  .steps .swiper-scrollbar {
    display: block;
  }

  .info__items {
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    gap: 32px;
  }

  .cover-full__content {
    padding-top: 24px;
  }

  .profile__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile__user {
    width: 100%;
  }

  .share-cart__inner {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .slider-reviews-stars .swiper-slide {
    width: fit-content !important;
  }
}

@media(max-width: 768px) {

  .desk {
    display: none;
  }

  .lap {
    display: block;
  }

  .page-title,
  .brand__head {
    margin: 0 0 32px 0;
  }

  .page-title--fit {
    margin: 0;
  }

  .popular,
  .responsibility,
  .magazine,
  .media-text-page,
  .programs,
  .history,
  .contacts,
  .vacancy,
  .see-more,
  .page-catalog .see-more,
  .seo-text,
  .media-magazine__items--top,
  .how,
  .guarantee,
  .cover,
  .services-gallery,
  .faq,
  .page-catalog .faq,
  .catalog-category-text,
  .brand,
  .product-card,
  .payment,
  .warranty-and-return__content,
  .faq-cover,
  .page-faq.faq,
  .faq-category,
  .faq-backcall,
  .backcall,
  .info-mini,
  .discussion,
  .logos,
  .steps,
  .services,
  .info,
  .profile__head,
  .share-cart {
    margin-bottom: 80px;
  }

  .cart__inner {
    padding-bottom: 80px;
  }

  .page-title__title,
  .address__title,
  .brand__title {
    font-size: 32px;
    line-height: 44px;
  }

  .comparison-bottom {
    padding: 0px 0px 80px;
  }

  .burger__list {
    width: 100%;
  }

  .breadcrumbs--desk {
    display: none;
  }

  .breadcrumbs__list {
    padding-left: 0;
    margin-left: 6px;
  }

  .breadcrumbs__list-item:not(:last-child) {
    display: none;
  }

  .breadcrumbs__list-item:not(:first-child) {
    position: relative;
    padding-left: 0;
    pointer-events: all;

    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 24px;
      top: 50%;
      left: -6px;
      transform: translateY(-50%) rotate(0deg);
      background-image: url(../images/breadcrumbd-separator-mob.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
      pointer-events: none;
    }

    .breadcrumbs__list-link {
      padding-left: 12px;
    }
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer__content {
    padding: 0;
  }

  .footer__contacts {
    order: -1;
    max-width: 110%;
    width: calc(100% + 32px);
    position: relative;
    padding: 0 16px;
    left: -16px;
  }

  .footer__contacts::before {
    display: none;
  }

  .footer__contacts-top .footer__contacts-top--title {
    display: none;
  }

  .footer__contacts-top {
    padding: 32px 0 0;
    margin: 0 auto;
  }

  .footer__contacts-middle {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    padding: 0;
    justify-content: center;
    gap: 25px;
    margin: 0 auto 42px;
  }

  .footer__contacts-middle-text--address {
    grid-column: 2/3;
    grid-row: 1/3;
  }

  .footer__contacts-logo {
    width: 100%;
    height: 92px;
    background: var(--main-light-variant, #F4F5F7);

    max-width: 110%;
    width: calc(100% + 32px);
    position: relative;
    padding: 0 16px;
    left: -16px;
  }

  .footer__logo {
    margin: 0 auto;
    padding-top: 20px;
  }

  .footer__contacts::before,
  .footer__contacts::after {
    height: calc(100% - 92px);
  }

  .footer__content-item-head .footer__item:first-child {
    margin-bottom: 0;
  }

  .footer__item:first-child {
    margin-bottom: 14px;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 46px;
  }

  .footer__content-item-head {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__content-item-head:hover span,
  .footer__content-item-head:hover li {
    color: var(--main-primary, #1547FF);
  }

  .footer__content-item {
    padding: 16px 0;
  }

  .footer__content-item:not(:last-child) {
    border-bottom: 1px solid var(--border-separator, rgba(0, 0, 0, 0.10));
  }

  .footer__content-item-head svg {
    transform: rotate(90deg);
  }

  .footer__content-item-head.active svg {
    transform: rotate(-90deg);
  }

  .footer__content-item-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .footer-bottom {
    padding-bottom: 28px;
  }

  .footer__text-line {
    display: none;
  }

  .footer__copyright {
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;
  }

  .footer__copyright-desk {
    display: none;
  }

  .footer__copyright-accardion {
    display: block;
  }

  .footer__copyright .footer__content-item-head {
    display: flex;
    margin-bottom: -8px;
  }

  .footer__content-item-head.active {
    margin-bottom: 26px;
  }

  .footer__copyright .footer__content-item-head.active+.footer__content-item-body {
    padding-bottom: 24px;
  }

  .footer__content-item-head svg {
    display: block;
  }

  .footer__copyright .footer__content-item-body {
    flex-direction: column;
  }

  .mini-swiper1 {
    max-width: 630px;
    margin: 0 auto;
  }

  .line-swiper1__controls {
    display: none;
  }

  .swiper-scrollbar {
    display: block;
  }

  .line-swiper1 .lineSwiper1::after,
  .line-swiper1 .lineSwiper1::before {
    display: none;
  }

  .img-pointer__card {
    width: 200px;
  }

  .services__inner {
    padding: 32px 0 28px;
  }

  .services .swiper-wrapper {
    padding-bottom: 24px;
  }

  .magazine .magazine__gallery-item:nth-child(n+6) {
    display: none;
  }

  .magazine__gallery-item--1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .magazine__gallery-item--2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .magazine__gallery-item--3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .magazine__gallery-item--4 {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .magazine__gallery-item--5 {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .img-pointer__point::before {
    width: 28px;
    height: 28px;
  }

  .img-pointer__point::after {
    width: 12px;
    height: 12px;
  }

  .popular .lineSwiper1 {
    padding-bottom: 24px;
  }

  .stocks .lineSwiperStocks {
    padding-bottom: 24px;
  }

  .popular .image-pagination {
    opacity: 1;
    justify-content: flex-start;
    align-items: center;
    left: 8px;
    bottom: 8px;
    gap: 6px;
  }

  .popular .image-pagination__item {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0;
    scale: 0.8;
    transform-origin: center;
  }

  .popular .image-pagination__item--active {
    scale: 1;
  }

  .popular .line-swiper1__item-favorite {
    display: none;
  }

  .brands__item {
    height: 57px;
  }

  .brands__item--1 .brands__item-img {
    width: 67%;
  }

  .brands__item--2 .brands__item-img {
    width: 58%;
  }

  .brands__item--3 .brands__item-img {
    width: 71%;
  }

  .brands__item--4 .brands__item-img {
    width: 99%;
  }

  .brands__item--5 .brands__item-img {
    width: 70%;
  }

  .brands__item--6 .brands__item-img {
    width: 39%;
  }

  .manage__tegs {
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 -16px;
    padding: 0 16px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .media-text-page__head {
    flex-direction: column;
    gap: 24px;
  }

  .media-text-page__head-text {
    margin-left: unset;
  }

  .media-text-page {
    padding-top: 24px;
  }

  .media-text-page__head-img {
    margin: 32px -16px;
    width: calc(100% + 32px);
    height: 240px;
  }

  .media-text-page__descr-img {
    padding: 20px 0 32px;
  }

  .media-text-page__descr-img--bottom {
    padding: 8px 0 24px;
  }

  .media-magazine__items--bottom .magazine__gallery-item:first-child {
    grid-row: 1/3;
    height: 100%;

    .img-pointer__img {
      object-fit: cover;
      height: 100%;
    }
  }

  .media-magazine__items--bottom .magazine__gallery-item:last-child {
    grid-row: 18/21;
    height: 100%;

    .img-pointer__img {
      object-fit: cover;
      height: 100%;
    }
  }

  .media-magazine .magazine__gallery-item--7 {
    grid-column: 1/3;
    grid-row: 3/9;
  }

  .media-magazine .magazine__gallery-item--8 {
    grid-column: 1/3;
    grid-row: 9/15;
  }

  .media-magazine .magazine__gallery-item--9 {
    grid-column: 1/2;
    grid-row: 15/18;
  }

  .media-magazine .magazine__gallery-item--10 {
    grid-column: 2/3;
    grid-row: 15/18;
  }

  .media-magazine .magazine__gallery-item--11 {
    grid-column: 1/2;
    grid-row: 18/21;
  }

  .how .lineSwiper2,
  .how .lineSwiper2-auto {
    padding-bottom: 24px;
  }

  .services-gallery__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-gallery__item:nth-child(n+4) {
    display: none;
  }

  .services-gallery__item--1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .services-gallery__item--2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .services-gallery__item--3 {
    grid-column: 2/3;
    grid-row: 3/4;
    position: relative;

    &:after {
      position: absolute;
      content: '+99';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#272727, 0.72);
      z-index: 3;

      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--content-contrast, #FFF);
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
    }
  }

  .faq__inner {
    gap: 44px;
  }

  .faq__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .faq__head span {
    margin-bottom: 24px;
  }

  .faq__items {
    gap: 0;
  }

  .faq__item {
    max-width: 100%;
    padding: 16px 0px;
    border-bottom: 1px solid var(--border-separator, rgba(0, 0, 0, 0.10));
    gap: 0;
  }

  .faq__item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    transition: margin 0.2s linear;
  }

  .faq__item-head.active {
    margin-bottom: 16px;
  }

  .faq__item-head.active span {
    color: var(--main-primary, #1547FF);
  }

  .faq__item-head.active svg {
    transform: rotate(-90deg);
  }

  .faq__item-head svg {
    display: block;
    flex: 0 0 20px;
    transform: rotate(90deg);
  }

  .faq__item-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .faq__more {
    flex-direction: column;
    gap: 24px;
  }

  .faq__more-btns,
  .faq__more-btn {
    width: 100%;
  }

  .advantages .lineSwiper2 {
    padding-bottom: 24px;
  }

  .about-img {
    margin-bottom: 44px;
  }

  .programs__items {
    flex-direction: column;
    gap: 52px;
    align-items: center;
  }

  .history__item {
    flex-direction: column;
    gap: 24px;
  }

  .contacts__contact--links {
    flex-wrap: wrap;
  }

  .contacts-info__inner {
    grid-template-columns: 1fr;
    gap: 52px;
  }

  .contacts-info__requisites {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .contacts-info__address {
    margin-bottom: 28px;
  }

  .contacts-info__info {
    margin: 0;
  }

  .map-switch {
    display: none;

    &.selected {
      display: block;
    }
  }

  .addresses-list-switch {
    display: none;

    &.selected {
      display: block;
    }
  }

  .address-tab {
    display: block;
  }

  .hero {
    margin-top: unset;
  }

  .view-btns {
    display: none;
  }

  .catalog-products__items.popular .line-swiper1__item:nth-child(n+7) {
    display: none;
  }

  .catalog-products__gallery {
    grid-template-columns: auto;
    gap: 16px;
  }

  .catalog-products__gallery-item--1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .catalog-products__gallery-item--2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .catalog-products__gallery-item--1 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .brand__wrapper {
    flex-direction: column-reverse;
  }

  .brand__text p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .comparison .line-swiper1__img-box {
    width: 164px;
    height: 164px;
    flex-shrink: 0;
  }

  .comparison__chars {
    gap: 32px;
  }

  .comparison__char {
    gap: 8px;
  }

  .comparison .line-swiper1__item:not(:first-child) {
    margin-left: 16px;
    margin: 0;
  }

  .comparison__char-list:not(:first-child) {
    margin-left: 16px;
    margin: 0;
  }

  .comparison-bottom__btn-box:not(:first-child) {
    margin-left: 16px;
    margin: 0;
  }

  .line-swiper1__item {
    padding: 0 8px;
  }

  .comparison__char-list-item {
    margin: 0 8px;
  }

  .comparison-bottom__btn-box {
    padding: 0 8px 2px;
  }

  .page-comparison .brands__content {
    flex-direction: column;
    align-items: flex-start;
  }

  .page-comparison .brands__tabs-switch {
    width: -webkit-fill-available;
  }

  .checkbox-label {
    margin-top: 16px;
  }

  .comparison .popular .line-swiper1__title {
    -webkit-line-clamp: 3;
    min-height: fit-content;
  }

  .text-show-btn {
    display: flex;
  }

  .comparison-head-compact .img-pointer__card-info-sale {
    display: none;
  }

  .comparison-head-compact .img-pointer__card-info-old-price {
    display: none;
  }

  .reviews__item:nth-child(n+3) {
    display: none;
  }

  .gallery__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }

  .gallery__item--1 {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
  }

  .gallery__item--2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .gallery__item--3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .reviews__item-gallery {
    gap: 14px;
  }

  .reviews__item-descr {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    gap: 24px;
  }

  .reviews__item-content {
    padding: 0;
    gap: 24px;
  }

  .brand--product-card .brand-more {
    display: none;
  }

  .gallery__bottom {
    display: block;
  }

  .modal-add-cart .add-cart {
    top: 125px;
    left: 0;
    max-width: 100%;
    height: auto;
    border-radius: 24px 24px 0px 0px;
  }

  .modal-add-cart--single .add-cart {
    top: unset;
  }

  .modal-add-cart .add-cart .icon-close {
    display: block;
    margin-left: auto;
  }

  .modal__btns {
    max-width: 100%;
  }

  .modal-add-cart .add-reviews {
    max-width: 100%;
    top: 52px;
    padding-bottom: 147px;
    border-radius: 24px 24px 0px 0px;
  }

  .add-reviews .icon-close {
    display: block;
    margin-left: auto;
  }

  .modal-add-cart .modals-tooltip {
    display: none;
  }

  .page-topbar .checkbox-label,
  .cart__item .checkbox-label,
  .faq-backcall__form-bottom .checkbox-label,
  .backcall__form .checkbox-label,
  .profile .checkbox-label,
  .popup-autorization .checkbox-label {
    margin: 0;
  }

  .lptp-s {
    display: flex !important;
  }

  .desk-lptp-b {
    display: none !important;
  }

  .cart__item {
    grid-template-columns: minmax(116px, 196px) minmax(212px, auto);
  }

  .cart__item .cart__item-checkbox {
    grid-column: 1/3;
    grid-row: 1/2;

    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .cart__item .cart__item-promocode {
    grid-column: 1/3;
    grid-row: 2/3;

    margin: 0 0 16px 0;
  }

  .cart__item-img--box {
    grid-column: 1/2;
    grid-row: 3/6;
  }

  .cart__item-name {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .cart__item .assembly-mob {
    grid-column: 2/3;
    grid-row: 4/5;

    margin: 16px 0;
  }

  .cart__item-price {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .cart__item-price .price-box__title {
    text-align: left;
  }

  .cart__item-bottom {
    grid-column: 2/3;
    grid-row: 6/7;

    margin-top: 16px;
    justify-content: flex-start;
  }

  .cart__item-delete {
    grid-column: 1/2;
    grid-row: 6/7;

    margin: 0 auto;
    margin-top: 16px;
  }

  .order__right {
    flex-direction: column-reverse;
    gap: 32px;
  }

  .delivery__free-circle {
    display: none;
  }

  .payment__methods-items {
    flex-direction: column;
    align-items: flex-start;
  }

  .faq-cover__info {
    max-width: 100%;
  }

  .faq-cover__contacts {
    flex-wrap: wrap;
  }

  .faq-cover::before {
    height: 375px;

    background-size: 370px 370px;
    background-position: -185px center;
  }

  .faq-cover__title {
    height: 375px;
  }

  .backcall__inner {
    flex-direction: column;
  }

  .backcall__info {
    order: -1;
  }

  .cover__card {
    padding: 0;
  }

  .info-mini__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .info-mini__img {
    width: 111px;
    height: auto;
  }

  .discussion__inner {
    padding: 24px 16px 32px;
  }

  .page-professionals .info-mini__content {
    align-items: flex-start;
  }

  .page-professionals .info-mini__logo-box {
    padding: 11px 30px 0 0;
  }

  .info__items {
    display: flex;
    flex-direction: column;
  }

  .info__item--2x {
    padding-bottom: 224px !important;
    background-position: left bottom;
  }

  .info__item--1 {
    background-image: url(../images/info-bg-1.png);
  }

  .info__item--7 {
    background-image: url(../images/info-bg-2.png);
  }

  .info__item-content {
    max-width: 100%;
  }

  .cover-full__content {
    min-height: 684px;
  }

  .page-professionals .cover-full__inner {
    background-size: 552.108px 392.146px;
  }

  .page-professionals .cover-full__img {
    width: 418.187px;
    height: 386.17px;
    flex-shrink: 0;
  }

  .cover-full__btns {
    margin: 0;
  }

  .page-loyalty .cover-full__inner {
    background-size: 499.052px auto;
  }

  .page-loyalty .cover-full__img {
    width: 444.654px;
    height: 410.61px;
    flex-shrink: 0;
  }

  .profile-wrapper .profile-sidebar {
    display: none;
  }

  .profile-menu {
    display: flex;
  }

  .profile-wrapper__inner {
    display: block;
    padding-bottom: 52px;
  }

  .profile-menu .profile-sidebar__icon {
    width: 20px;
    height: 20px;
  }

  .profile__head .quit {
    display: inline-block;
  }

  .order-history-detail__list-item {
    grid-template-columns: auto auto;
    gap: 16px 0;
  }

  .order-history-detail__img-box {
    grid-column: 1/2;
    grid-row: 3/5;
  }

  .order-history-detail__name {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .page-order-history-detail .promocode {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .order-history-detail__descr {
    grid-column: 2/3;
    grid-row: 3/4;

    max-width: unset;
  }

  .page-order-history-detail .cart__item-price {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .order-history-detail__quantity {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .page-profile-reviews .reviews__item-descr {
    flex-direction: column-reverse;
  }

  .page-profile-reviews .reviews__item-gallery {
    padding: 0;
  }

  .order-history-detail__img-box {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .share-cart .order-history-detail__list-item {
    grid-template-columns: auto minmax(auto, 100%);
  }

  .share-cart .order-history-detail__descr {
    grid-row: 2/3;
  }

  .share-cart .cart__item-price {
    grid-column: 2/3;
    grid-row: 3/4;

    margin: 0 auto 0 0;
  }

  .share-cart .order-history-detail__quantity {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}

@media (max-width: 540px) {

  .stocks,
  .delivery,
  .profile-loyalty__descr {
    margin-bottom: 52px;
  }

  .services__head,
  .magazine__title,
  .contacts__title,
  .addresses-list__items,
  .page-title.page-cart-order-success,
  .catalog-products__filters,
  .brand--product-card,
  .gallery,
  .customer-tab-btns,
  .reviews__title,
  .forms__back {
    margin-bottom: 32px;
  }

  .page-title {
    min-height: 76px;
  }

  .lap {
    display: none;
  }

  .mob {
    display: block;
  }

  .title,
  .faq-cover__title,
  .share-cart__box-price {
    font-size: 32px;
    line-height: 44px;
  }

  .online-marker,
  .header__phone--link,
  .topbar__addresses,
  .topbar__loyalty {
    display: none;
  }

  .header__icon-box {
    width: 44px;
    height: 44px;
  }

  .icon-marker {
    top: -2px;
    right: -2px;
  }

  .footer-bottom__pays {
    gap: 12px 14px;
    width: 245px;
    padding-right: 8px;
  }

  .filter-menu {
    top: 52px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 52px);
    padding: 6px 16px 0px 16px;
    border-radius: 24px 24px 0px 0px;
    background: var(--Page-Color, #FCFDFF);
    box-shadow: 0px -4px 32px 0px rgba(43, 43, 43, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
  }

  .filter-menu__head {
    padding: 8px 0;
    margin-bottom: 0;
  }

  .filter-menu__title {
    font-size: 24px;
    line-height: 36px;
  }

  .filter-menu__item-head-title {
    font-size: 16px;
    line-height: 24px;
  }

  .filter-menu__item-body-content {
    gap: 16px;
  }

  .filter-menu__item-body-elem {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .filter-menu__item-body-title {
    flex-basis: auto;
  }

  .filter-menu__btns {
    margin: 0 -16px;
    padding: 24px 16px;
  }

  .big-swiper1__img {
    position: relative;
    left: -80px;
  }

  .big-swiper1-1 .img-pointer__point--1 {
    left: 97px;
  }

  .big-swiper1-1 .img-pointer__point--2 {
    left: 149px;
  }

  .big-swiper1-1 .img-pointer__point--3 {
    left: 230px;
  }

  .big-swiper1-1 .img-pointer__point--4 {
    left: 252px;
  }

  .big-swiper1__item {
    background: none;
    border: none;
  }

  .big-swiper1__bottom {
    padding: 14px 102px 16px 0;
    font-size: 14px;
  }

  .big-swiper1__bottom br {
    display: none;
  }

  .big-swiper1 .mini-swiper1__controls {
    top: 414px;
    right: 0;
    bottom: unset;
  }

  .mini-swiper1 {
    max-width: 100%;
  }

  .mini-swiper1__item {
    padding: 11px 16px 26px;
  }

  .mini-swiper1__img {
    margin: 0 auto 14px;
  }

  .mini-swiper1__item p {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .header-category__head {
    gap: 16px;
    overflow-x: auto;
    margin: 0 -16px 32px;
    padding: 0 16px;
  }

  .header-category__titles {
    gap: 16px;
  }

  .header-category__titles a {
    font-size: 16px;
    line-height: 24px;
  }

  .header-category__titles a.active {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: -4px;
  }

  .header-category__titles .header-category__title--notab {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
  }

  .img-pointer__card {
    flex-direction: column;
    width: 150px;
  }

  .services .line-swiper2__title {
    font-weight: 400;
  }

  .magazine__gallery {
    gap: 16px;
  }

  .subscribe-box {
    padding: 24px 16px 32px;
  }

  .magazine__bottom-box {
    padding: 24px 16px 32px;
  }

  .magazine__bottom-more {
    padding: 12px 0 0;
  }

  .popular__inner {
    padding: 32px 0;
  }

  .popular .line-swiper1__item {
    width: 164px;
  }

  .catalog-products__items.popular {
    gap: 24px 16px;
  }

  .catalog-products__items.popular .line-swiper1__item {
    width: 156px;
  }

  .popular .line-swiper1__img-box {
    width: 164px;
    height: 164px;
  }

  .popular .line-swiper1__title {
    font-size: 14px;
    line-height: 20px;
    min-height: 60px;
    min-height: unset;
  }

  .popular .line-swiper1__title--2 {
    min-height: unset;
  }

  .page-title__title {
    font-size: 32px;
    line-height: 44px;
  }

  .page-title__inner {
    min-height: 76px;
    min-height: 0;
  }

  .manage {
    padding: 32px 0;
  }

  .manage__inner {
    gap: 24px;
  }

  .manage__form {
    flex-direction: column;
    gap: 16px;
  }

  .manage .form-group {
    max-width: 100%;
  }

  .manage__filter {
    gap: 16px;
  }

  .manage__cat {
    gap: 16px;
  }

  .manage__tegs {
    gap: 16px;
  }

  .news {
    margin-bottom: 44px;
  }

  .news__cards {
    gap: 32px;
  }

  .news__card:nth-child(n+5) {
    display: none;
  }

  .see-more__inner {
    flex-direction: column;
    gap: 16px;
  }

  .see-more__pagination {
    width: calc(100% - 104px);
  }

  .see-more__pagination-pages {
    flex: 0 0 100%;
  }

  .media-text-page__title-1 {
    padding: 32px 0 20px;
  }

  .media-text-page__title-2 {
    padding: 32px 0 14px;
  }

  .media-text-page__title-3 {
    padding: 28px 0 16px;
  }

  .media-text-page__title-4 {
    padding: 12px 0;
  }

  .media-text-page__tegs {
    margin: 16px 0 24px;
  }

  .media-magazine__items {
    gap: 16px;
  }

  .how__inner {
    padding: 32px 0;
  }

  .guarantee__inner {
    padding: 32px 0;
  }

  .guarantee__text {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .guarantee__text p {
    margin-bottom: 24px;
    order: 1;
  }

  .guarantee__img-label {
    order: 2;
  }

  .guarantee__month {
    order: 3;
  }

  .target__inner {
    gap: 32px;
    margin: 0 -16px;
  }

  .target-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .target__item {
    min-height: 120px;
  }

  .target-box__item-2 {
    gap: 24px;
  }

  .faq__more {
    padding: 20px 16px 16px;
  }

  .droplist-list__item {
    height: 44px;
  }

  .about-img__img {
    width: 100%;
    height: 170px;
  }

  .responsibility__pictures img {
    height: 70px;
    width: auto;
  }

  .programs__item-img {
    height: 170px;
    width: 100%;
  }

  .history__item {
    margin-top: 33px;
    padding-top: 33px;
  }

  .contacts__inner {
    padding: 32px 0 0 0;
  }

  .contacts__items {
    gap: 52px;
  }

  .contacts__contact-box {
    padding: 0;
    border: none;
  }

  .contacts__vacancy-box {
    padding: 24px 16px 32px;
    margin: 0 -16px;
    background-size: 168px 168px;
    gap: 16px;
  }

  .contacts__vacancy-box p {
    padding-bottom: 8px;
  }

  .contacts-info__info,
  .contacts-info__addresses,
  .contacts-info__requisites {
    margin: 0 -16px;
  }

  .map__inner {
    margin: 0 -16px;
  }

  .addresses-list__item {
    max-width: 100%;
  }

  .catalog__items {
    gap: 32px 0;
  }

  .link-hidden--mob {
    display: inline-block;
  }

  .catalog-category-text__recent {
    max-width: 100%;
  }

  .catalog-category-text__recent-items {
    padding: 24px 28px;
    height: auto;
  }

  .page-title__inner,
  .brand__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .page-title.page-cart-order-success .page-title__inner {
    flex-direction: row;
    gap: 20px;
  }

  .catalog-products__items.popular {
    margin: 0;
  }

  .catalog-products {
    padding: 32px 0 44px;
  }

  .catalog-products__views,
  .delivery__descr {
    margin-bottom: 16px;
  }

  .catalog-products .form__input-box:last-child {
    max-width: 100%;
  }

  .catalog-products__filters-btns {
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .catalog-products__filter-btn {
    display: none;
  }

  .catalog-products__filter-btn--color {
    display: flex;
    width: 100%;
  }

  .catalog-products__filter-btn--color-desk {
    display: none;
  }

  .catalog-products__filter-btn--color-mob {
    display: flex;
  }

  .catalog-products__gallery .img-pointer__img {
    height: 156px;
  }

  .brands__subtitle {
    font-size: 16px;
  }

  .page-catalog .brands__subtitle {
    margin: -44px 0 0px;
  }

  .dropdown__list--desk {
    display: none;
  }

  .dropdown__list-mob {
    display: flex;
  }

  .catalog-products__views .dropdown__list {
    position: fixed;
    top: unset;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 32;

    border-radius: 24px 24px 0px 0px;
    background: var(--Page-Color, #FCFDFF);
    box-shadow: 0px -4px 32px 0px rgba(43, 43, 43, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
    border: none;
  }

  .dropdown__list-item {
    padding: 10px 16px;
    height: 44px;
  }

  .filter-menu__btn--1 {
    display: none;
  }

  .filter-menu__btn--2 {
    display: none;
  }

  .filter-menu .filter-menu__btn--3 {
    display: inline-block;
  }

  .catalog-products.saccess .form__input-box .manage__form-input {
    padding-right: 131px !important;
  }

  .catalog-products.failed .form__input-box .manage__form-input {
    padding-right: 131px !important;
  }

  .form__found-text {
    display: none;
  }

  .catalog-products.saccess .catalog-products__filters {
    display: flex;
    margin-bottom: 12px;

    .catalog-products__filters-applied {
      display: none;
    }
  }

  .catalog-products.failed .catalog-products__filters {
    display: flex;
    margin-bottom: 12px;

    .catalog-products__filters-applied {
      display: none;
    }
  }

  .catalog-products.failed .catalog-products__items-empty {
    gap: 32px 16px;
    height: 388px;
    overflow: hidden;
  }

  .catalog-products__items-empty-head {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    margin: 0;
  }

  .catalog-products__items-empty-title {
    font-size: 32px;
    line-height: 44px;
  }

  .catalog-products__items-empty-reset {
    margin: 0;
  }

  .stocks .line-swiper1__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .stocks .line-swiper1__img-box {
    height: 164px;
  }

  .stocks .header-category .line-swiper1__item--selected {
    height: 164px;
  }

  .modals-tooltip {
    display: none;
  }

  .comparison__char-list--descr {
    width: 100%;
  }

  .comparison__char-list--descr .comparison__char-list-item {
    padding-right: 50%;
  }

  .address__head {
    margin: 0 0 32px;
  }

  .vacancy {
    padding-top: 0;
  }

  .vacancy__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .page-title--top {
    margin: 0 0 32px;
  }

  .comparison-head-compact__inner {
    margin: 0 -8px;
    padding-top: 0;
  }

  .comparison-head-compact__slide {
    gap: 8px;
    min-height: 66px;
    padding: 32px 8px 10px;
  }

  .comparison-head-compact .img-pointer__card-img {
    width: 24px;
    height: 24px;
  }

  .comparison .img-pointer__card-img-box {
    flex-basis: auto;
  }

  .comparison-head-compact .img-pointer__card-info-title {
    color: var(--content-primary, #272727);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    margin: -28px 0 0 -32px;
    width: 164px;
  }

  .product-card__sidebar-body--head .img-pointer__card-img-box {
    flex-basis: 52px;
  }

  .price-box__loyality-links--desk {
    display: none;
  }

  .price-box__loyality-links--mob {
    display: inline-block;
  }

  .reviews__images-item {
    max-width: 100%;
    min-width: 128px;
  }

  .gallery__inner {
    scale: 1;
    padding: 0;
    margin: 0;
  }

  .product-card__descr-items {
    justify-content: space-around;
  }

  .product-card__descr-items--recommend .line-swiper1__item:nth-child(n+3) {
    display: none;
  }

  .product-mini-card {
    padding: 4px 0 10px;
  }

  .product-card__sidebar-body--head .img-pointer__card-img-box {
    flex-basis: 24px;
    margin-top: auto;
  }

  .product-card__sidebar .product-mini-card {
    gap: 8px;
  }

  .product-card__sidebar .img-pointer__card-info-title {
    position: relative;
    left: -32px;
  }

  .product-card__sidebar .price-box {
    padding: 16px;
    margin: 0 -16px;
  }

  .promocode__code-box {
    max-width: 100px;
  }

  .price-box__title {
    font-size: 32px;
    line-height: 44px;
  }

  .product-card__sidebar-body--bottom {
    margin: 0 auto;
  }

  .product-card__descr-title {
    font-size: 32px;
    line-height: 44px;
  }

  .product-card__descr-items {
    gap: 24px 16px;
  }

  .product-card__descr .line-swiper1__item {
    width: 156px;
    padding: 0;
  }

  .line-swiper1__item.empty .line-swiper1__img-box {
    width: 156px;
    height: 156px;
  }

  .tab-btns {
    gap: 16px;
  }

  .tab-btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  .tab-btn[class*=active] {
    font-size: 32px;
    line-height: 44px;
  }

  .reviews__counter {
    padding: 24px 16px 32px;
    margin: 0 -16px;
  }

  .reviews__title {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }

  .desk-lptp {
    display: none;
  }

  .rate .rating__value {
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
  }

  .reviews {
    margin-bottom: 44px;
  }

  .in-cart {
    display: block;
  }

  .modal-add-cart .add-cart {
    padding: 14px 16px 95px;
  }

  .modal-add-cart .check-circle {
    width: 24px;
    height: 24px;
  }

  .modal__head {
    gap: 10px;
    margin-bottom: 8px;
  }

  .modal .product-mini-card {
    box-shadow: none;
    background: transparent;
    padding: 4px 0 10px;
  }

  .modal .img-pointer__card-img-box {
    flex-basis: 24px;
    margin-top: auto;
  }

  .modal .img-pointer__card-info-title {
    font-size: 14px;
    font-weight: 500;
    margin-left: -32px;
    min-width: 328px;
  }

  .purchased-separately .img-pointer__card-info-price {
    width: fit-content;
    order: 0;
  }

  .product-mini-card.sale--price .img-pointer__card-info-title {
    -webkit-line-clamp: 1;
  }

  .modal__btns {
    padding: 24px 16px;
  }

  .modal-add-cart .add-reviews {
    padding: 14px 16px 147px;
  }

  .modal__title {
    font-size: 24px;
    line-height: 36px;
  }

  .cart__item .see-more__pagination-pages {
    flex-basis: auto;
  }

  .cart__item-name .line-swiper1__title {
    font-size: 14px;
    line-height: 20px;
  }

  .page-cart .page-topbar__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .page-cart .page-topbar__left {
    width: 100%;
    justify-content: space-between;
  }

  .cart__item-name-price {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0px;
  }

  .cart__sidebar {
    margin: 0 -16px;
    gap: 32px;
  }

  .cart__assembly-list .product-mini-card {
    padding: 4px 16px 10px;
  }

  .cart__assembly .img-pointer__card-img-box {
    flex-basis: 24px;
    margin-top: auto;
  }

  .cart__assembly .img-pointer__card-info-title {
    margin-left: -32px;
    font-size: 14px;
    line-height: 24px;
    min-width: 320px;
  }

  .cart__assembly-head {
    padding: 0 16px;
  }

  .cart__assembly-descr {
    padding: 8px 16px 0;
  }

  .cart__sidebar-order {
    padding: 24px 16px;
  }

  .order__right .cart__sidebar-order {
    margin: 0 -16px;

    border-radius: 0;
    border: none;
    background: var(--Interface-Color, #F8F7FA);
  }

  .order__right .cart__assembly {
    margin: 0 -16px;

    border-radius: 0;
  }

  .order__right .cart__assembly-descr {
    margin: 8px 16px 0;
  }

  .order__box {
    padding: 24px 16px;
    margin: 0 -16px;
    border-radius: 0;

    border-top: 1px solid var(--border-barrier, rgba(0, 0, 0, 0.06));
    border-bottom: 1px solid var(--border-barrier, rgba(0, 0, 0, 0.06));
  }

  .delivery__free {
    padding: 24px 16px 38px;
    margin: 0 -16px;

    background-position: calc(100% + 190px) 165%;
  }

  .payment__methods-box {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background: var(--main-light-variant, #F4F5F7);
  }

  .warranty-and-return__inner {
    gap: 52px;
  }

  .faq-category__item {
    padding: 16px 16px 24px;
  }

  .faq-category__items {
    gap: 32px;
  }

  .faq-backcall__inner,
  .backcall__form-box {
    margin: 0 -16px;
    padding: 24px 16px 32px;
  }

  .faq-backcall__form .order__box-inputs,
  .backcall__form .order__box-inputs {
    flex-direction: column;
    gap: 14px;
  }

  .faq-backcall__form-bottom {
    flex-direction: column;

    .btn-blue {
      width: 100%;
    }
  }

  .backcall__form .modal__reviews-input--file {
    height: 76px;

    &::before {
      top: 14px;
      left: 16px;
      transform: unset;
    }
  }

  .backcall__form .modal__reviews-input--file-box .formats {
    bottom: 14px;
    left: 16px;
    transform: unset;
  }

  .cover__inner {
    margin: 0 -16px;
  }

  .cover__inner:before {
    background-image: none;
  }

  .cover__info {
    width: 100%;
  }

  .cover__card-content {
    padding: 24px 16px 32px 16px;
  }

  .cover__text {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .discussion__inner {
    margin: 0 -16px;
  }

  .discussion__btn {
    width: 100%;
  }

  .info__item {
    min-height: 200px;
    padding: 24px 16px 32px;
  }

  .info__item-bottom {
    margin-top: 16px;
  }

  .info__item-box .info__item-title {
    padding: 0;
  }

  .page-professionals .cover-full__img-box {
    right: -118px;
  }

  .page-professionals .cover-full__inner {
    margin: 0 -16px;
    padding: 0 16px;
    background-position: calc(100% + 174px) calc(100% + 4px);
  }

  .cover-full__title {
    margin-bottom: 32px;
  }

  .page-loyalty .cover-full__img-box {
    right: -93px;
    bottom: -58px;
  }

  .page-loyalty .cover-full__inner {
    margin: 0 -16px;
    padding: 0 16px;
    background-position: calc(100% + 67px) calc(100%);
  }

  .cover-full__btns {
    flex-direction: column;
    align-items: flex-start;
  }

  .bonus-counter {
    flex-direction: column;
    height: fit-content;
  }

  .bonus-counter__sale {
    width: 100%;
  }

  .btn-change-password {
    width: 100%;
  }

  .page-profile .page-title__inner {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px 20px;
  }

  .page-profile .page-title {
    min-height: fit-content;
    margin-bottom: 32px;
  }

  .page-profile .page-title__title {
    width: 100%;
  }

  .profile-form {
    padding: 24px 16px;
    margin: 0 -16px;
  }

  .profile-form__body-contacts .order__box-inputs {
    flex-direction: column;
    gap: 14px;
  }

  .profile-form__body-password-change .order__box-inputs {
    flex-direction: column;
  }

  .profile-form__body-password-change .box {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .profile-form__body-password-change .box .btn-blue {
    width: 100%;
  }

  .page-order-history .page-title,
  .page-profile-reviews .page-title,
  .page-share-cart.page-title {
    min-height: 100px;
  }

  .order-history__arrow {
    display: none;
  }

  .order-history__info {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .order-history-detail__list {
    gap: 0;
  }

  .order-history__list-item--link {
    grid-template-columns: auto minmax(100px, auto) minmax(auto, 100%);
    padding: 8px 0;
  }

  .order-history-detail__img {
    width: 100px;
    height: 100px;
  }

  .page-order-history-detail .promocode__code-box {
    max-width: unset;
  }

  .page-order-history-detail .profile__body-top__inner {
    align-items: flex-end;
  }

  .page-order-history-detail .page-title__inner {
    min-height: 100px;
  }

  .order-history-detail__descr {
    font-size: 14px;
    line-height: 20px;
  }

  .order-history-detail__quantity-text {
    display: none;
  }

  .page-order-history-detail .order-history__status {
    flex-direction: column;
  }

  .page-order-history-detail .profile-form {
    margin-bottom: 32px;
  }

  .profile-loyalty__card {
    padding: 24px 16px 32px;
    margin: 0 -16px;
  }

  .page-profile-reviews .reviews__item-delete {
    display: none;
  }

  .page-profile-reviews .reviews__item-user {
    align-items: flex-start;
  }

  .page-profile-reviews .reviews__item-descr {
    gap: 24px;
  }

  .page-profile-reviews .reviews__items {
    gap: 32px;
  }

  .page-profile-reviews .see-more {
    margin: 0;
  }

  .share-cart__box {
    padding: 24px 16px;
  }

  .header-small {
    padding: 16px 0;
  }

  .modal-box__head-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .modal-box__head-link {
    padding: 0;
    margin: 0;
  }

  .modal__autorization {
    top: unset;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
  }

  .modal__autorization-box {
    width: 100%;
    padding: 14px 16px 32px;
    border-radius: 24px 24px 0px 0px;
    background: var(--Page-Color, #FCFDFF);
    box-shadow: 0px -4px 32px 0px rgba(43, 43, 43, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
  }

  .modal-box__footer-btns {
    flex-direction: column;
    gap: 14px;
  }

  .modal-box__footer-btns .btn-blue {
    width: 100%;
  }

  .modal-box__footer-btns .btn-white {
    width: 100%;
  }

  .modal-box--wrapper {
    top: 0;
    right: 0;
    left: 0;
    padding: 14px 0 32px;
    margin-top: 52px;

    border-radius: 24px 24px 0px 0px;
    background: var(--Page-Color, #FCFDFF);
    box-shadow: 0px -4px 32px 0px rgba(43, 43, 43, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.24);
  }

  .modal-box--wrapper .modal__autorization-box {
    border: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  .modal__autorization-box .custom-box--registration-2 {
    flex-direction: column-reverse;
  }

  .modal__autorization-box .custom-box--registration-2 .btn-blue {
    width: 100%;
  }

  .modal-box .modal-box__head .btn__icon-close {
    display: block;
  }
}

@media (max-width: 420px) {
  .brands__item {
    height: 44px;
    border-radius: 6px;
  }

  .droplist-list {
    width: 328px;
  }

  .topbar .droplist-list {
    left: -16px;
    width: 345px;
  }

  .topbar .droplist-list__items {
    height: 264px;
  }

  .burger__list {
    .line-swiper1__item {
      width: 156px;
      min-height: 156px;
    }

    .line-swiper1__img-box {
      width: 156px;
      height: 156px;
    }

    .line-swiper1__title {
      margin-bottom: 0;
    }
  }

  .order-success__points {
    display: block;
    margin: 0;
  }
}

@media (max-width:360px) {
  .magazine {
    .magazine__gallery-item--2 {
      grid-row: 3/5;

      .img-pointer__img {
        height: 195px;
        width: 100%;
        object-fit: cover;
      }
    }

    .magazine__gallery-item--3 {
      grid-row: 3/4;

      .img-pointer__img {
        height: 156px;
        width: 100%;
        object-fit: cover;
      }
    }

    .magazine__gallery-item--4 {
      grid-row: 5/6;

      .img-pointer__img {
        height: 156px;
        width: 100%;
        object-fit: cover;
      }
    }

    .magazine__gallery-item--5 {
      grid-row: 4/6;

      .img-pointer__img {
        height: 195px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .media-magazine {
    .magazine__gallery-item--9 {
      grid-column: 1/2;
      grid-row: 15/20;
    }

    .magazine__gallery-item--10 {
      grid-column: 2/3;
      grid-row: 15/18;

      .img-pointer__img {
        height: 156px;
      }
    }

    .magazine__gallery-item--11 {
      grid-column: 1/2;
      grid-row: 20/23;

      .img-pointer__img {
        height: 156px;
      }
    }

    .media-magazine__items--bottom .magazine__gallery-item:last-child {
      grid-row: 18/23;
      height: 100%;

      .img-pointer__img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
}

@media (max-width:350px) {
  .modal .img-pointer__card-info-title {
    min-width: 300px;
  }

  .cart__item {
    grid-template-columns: minmax(116px, 196px) minmax(136px, auto);
  }

  .cart__item-bottom {
    justify-content: flex-end;
  }
}