:root {
  --main-primary: #1547FF;
  --main-variant: #0C33C0;
  --main-light-primary: #EDF3FF;
  --main-light-variant: #F4F5F7;

  --Page-Color: #FCFDFF;
  --Interface-Color: #F8F7FA;
  --White: #FFF;

  --border-separator: rgba(0, 0, 0, 0.10);
  --border-barrier: rgba(0, 0, 0, 0.06);
  
  --Over-Block: rgba(0, 17, 82, 0.04);

  --content-primary: #272727;
  --content-contrast: #FFF;
  --content-secondary: #69718E;
  --content-tertiary: #A3A3A3;
  --content-tertiary-transparent: rgba(0, 0, 0, 0.32);
  --content-disabled: linear-gradient(0deg, rgba(39, 39, 39, 0.18) 0%, rgba(39, 39, 39, 0.18) 100%), #FCFDFF;
}