<div class="burger__list">
  <div class="burger-menu__1lvl">
    <div class="burger-menu__1lvl-list">
      <div class="burger-menu__1lvl-top">
        <a class="burger-menu__1lvl-top--link" href="#burger-catalog-1lvl">
          <span>Каталог</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
      </div>
      <span class="burger-menu__1lvl-line"></span>
      <div class="burger-menu__1lvl-middle">
        <a class="burger-menu__1lvl-middle--link" href="#!">
          <span>Акции</span>
        </a>
        <a class="burger-menu__1lvl-middle--link" href="#burger-menu-2lvl--1">
          <span>Покупателям</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <a class="burger-menu__1lvl-middle--link" href="#burger-menu-2lvl--2">
          <span>Для бизнеса</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <a class="burger-menu__1lvl-middle--link" href="#burger-menu-2lvl--3">
          <span>Услуги</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <a class="burger-menu__1lvl-middle--link" href="#!">
          <span>Журнал</span>
        </a>
      </div>
      <span class="burger-menu__1lvl-line"></span>
      <div class="burger-menu__1lvl-bottom">
        <a class="burger-menu__1lvl-bottom--link" href="#!">
          <span>Адреса</span>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#burger-menu-2lvl--4">
          <span>О компании</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#!">
          <span>Контакты</span>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#!">
          <span>Пресс-центр</span>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#!">
          <span>Частые вопросы</span>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#!">
          <span>Программа лояльности</span>
        </a>
      </div>
    </div>
  </div>
  <div id="burger-catalog-1lvl" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Каталог</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-menu__1lvl-bottom--link" href="#burger-catalog-2lvl--1">
          <span>Сантехника</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#burger-catalog-2lvl--2">
          <span>Климат</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#burger-catalog-2lvl--3">
          <span>Освещение</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <a class="burger-menu__1lvl-bottom--link" href="#burger-catalog-2lvl--4">
          <span>Лемнина</span>
          <svg class="down-compact">
            <use xlink:href="#down-compact"></use>
          </svg>
        </a>
        <span class="burger-menu__1lvl-line" style="margin: 16px 0 20px;"></span>
        <div class="burger-catalog-1lvl-ad">
          <h6 class="burger-catalog-1lvl-ad-title">Предложение</h6>
          <img class="burger-catalog-1lvl-ad-img" src="images/burger-ad.jpg" alt="ad">
        </div>
      </div>
    </div>
  </div>
  <div id="burger-menu-2lvl--1" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Покупателям</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Доставка и оплата</a>
        <a class="burger-lvl-inner-content-item" href="#!">Гарантия и возврат</a>
        <a class="burger-lvl-inner-content-item" href="#!">Обратная связь</a>
        <a class="burger-lvl-inner-content-item" href="#!">Вакансии</a>
      </div>
    </div>
  </div>
  <div id="burger-menu-2lvl--2" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Для бизнеса</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Доставка и оплата</a>
        <a class="burger-lvl-inner-content-item" href="#!">Гарантия и возврат</a>
        <a class="burger-lvl-inner-content-item" href="#!">Обратная связь</a>
        <a class="burger-lvl-inner-content-item" href="#!">Вакансии</a>
      </div>
    </div>
  </div>
  <div id="burger-menu-2lvl--3" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Услуги</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Доставка и оплата</a>
        <a class="burger-lvl-inner-content-item" href="#!">Гарантия и возврат</a>
        <a class="burger-lvl-inner-content-item" href="#!">Обратная связь</a>
        <a class="burger-lvl-inner-content-item" href="#!">Вакансии</a>
      </div>
    </div>
  </div>
  <div id="burger-menu-2lvl--4" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">О компании</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Доставка и оплата</a>
        <a class="burger-lvl-inner-content-item" href="#!">Гарантия и возврат</a>
        <a class="burger-lvl-inner-content-item" href="#!">Обратная связь</a>
        <a class="burger-lvl-inner-content-item" href="#!">Вакансии</a>
      </div>
    </div>
  </div>
  <div id="burger-catalog-2lvl--1" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-1lvl">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Сантехника</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#burger-catalog-3lvl--1">Бренды</a>
        <div class="burger-lvl-inner-content-items">
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Мебель для ванной</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Ванны</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Унитазы</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Инталяция</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-5.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Смесители</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-6.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Биде</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="burger-catalog-2lvl--2" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-1lvl">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Климат</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#burger-catalog-3lvl--2">Бренды</a>
        <div class="burger-lvl-inner-content-items">
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Мебель для ванной</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Ванны</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Унитазы</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Инталяция</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-5.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Смесители</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-6.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Биде</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="burger-catalog-2lvl--3" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-1lvl">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Освещение</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#burger-catalog-3lvl--3">Бренды</a>
        <div class="burger-lvl-inner-content-items">
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Мебель для ванной</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Ванны</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Унитазы</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Инталяция</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-5.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Смесители</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-6.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Биде</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="burger-catalog-2lvl--4" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-1lvl">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Лемнина</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#burger-catalog-3lvl--4">Бренды</a>
        <div class="burger-lvl-inner-content-items">
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Мебель для ванной</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Ванны</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Унитазы</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Инталяция</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-5.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Смесители</h3>
          </div>
          <div class="line-swiper1__item">
            <div class="line-swiper1__img-box">
              <img class="line-swiper1__img" src="images/line-swiper-1-6.png" alt="line-swiper">
            </div>
            <h3 class="line-swiper1__title">Биде</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="burger-catalog-3lvl--1" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-2lvl--1">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Сантехника / Бренды</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Aquaton</a>
        <a class="burger-lvl-inner-content-item" href="#!">Aqwella</a>
        <a class="burger-lvl-inner-content-item" href="#!">Geberit</a>
        <a class="burger-lvl-inner-content-item" href="#!">JacobDelafon</a>
        <a class="burger-lvl-inner-content-item" href="#!">Hansgrohe</a>
        <a class="burger-lvl-inner-content-item" href="#!">Remer</a>
        <a class="burger-lvl-inner-content-item" href="#!">Roca</a>
        <a class="burger-lvl-inner-content-item" href="#!">Villeroy Boch</a>
      </div>
    </div>
  </div>
  <div id="burger-catalog-3lvl--2" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-2lvl--2">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Климат / Бренды</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Aquaton</a>
        <a class="burger-lvl-inner-content-item" href="#!">Aqwella</a>
      </div>
    </div>
  </div>
  <div id="burger-catalog-3lvl--3" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-2lvl--3">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Освещение / Бренды</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Aquaton</a>
        <a class="burger-lvl-inner-content-item" href="#!">Aqwella</a>
      </div>
    </div>
  </div>
  <div id="burger-catalog-3lvl--4" class="overlay">
    <div class="burger-lvl-inner">
      <a class="burger-back" href="#burger-catalog-2lvl--4">Назад</a>
      <span class="burger-menu__1lvl-line"></span>
      <h3 class="burger-lvl-title">Лемнина / Бренды</h3>
      <div class="burger-lvl-inner-content">
        <a class="burger-lvl-inner-content-item" href="#!">Aquaton</a>
        <a class="burger-lvl-inner-content-item" href="#!">Aqwella</a>
      </div>
    </div>
  </div>
</div>