<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__content">
        <ul class="footer__content-item footer__content-item--1">
          <div class="footer__content-item-head">
            <li class="footer__item">О нас</li>
            <svg class="chevron-right">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </div>
          <div class="footer__content-item-body">
            <li class="footer__item"><a class="footer__content-item--link" href=#!">О компании</a></li>
            <li class="footer__item"><a class="footer__content-item--link footer__content-item--color-1"
                href="interactive-stocks.html">Акции</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Каталог</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Бренды</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Журнал</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Пресс-центр</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Вакансии</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Контакты</a></li>
            <li class="footer__item"><a class="footer__content-item--link footer__content-item--color-2"
                href=#!">Адреса</a></li>
          </div>
        </ul>
        <ul class="footer__content-item footer__content-item--2">
          <div class="footer__content-item-head">
            <li class="footer__item">Покупателям</li>
            <svg class="chevron-right">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </div>
          <div class="footer__content-item-body">
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Доставка и Оплата</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Гарантия и Возврат</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Обратная связь</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Программа лояльности</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Бланки заявлений</a></li>
            <li class="footer__item"><a class="footer__content-item--link footer__content-item--color-3" href=#!">Частые
                вопросы</a></li>
          </div>
        </ul>
        <ul class="footer__content-item footer__content-item--3">
          <div class="footer__content-item-head">
            <li class="footer__item">Услуги</li>
            <svg class="chevron-right">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </div>
          <div class="footer__content-item-body">
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Установка</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Дизайн консультация</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Видео-экскурсия</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Бесплатное хранение</a></li>
          </div>
        </ul>
        <ul class="footer__content-item footer__content-item--4">
          <div class="footer__content-item-head">
            <li class="footer__item">Каталог</li>
            <svg class="chevron-right">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </div>
          <div class="footer__content-item-body">
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Сантехника</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Климат</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Освещение</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Лепнина</a></li>
          </div>
        </ul>
        <ul class="footer__content-item footer__content-item--5">
          <div class="footer__content-item-head">
            <li class="footer__item">Для бизнеса</li>
            <svg class="chevron-right">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </div>
          <div class="footer__content-item-body">
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Проектирование пространства</a></li>
            <li class="footer__item"><a class="footer__content-item--link" href=#!">Профессионалам</a></li>
          </div>
        </ul>
      </div>
      <div class="footer__contacts">
        <div class="footer__contacts-top">
          <span class="footer__contacts-top--title">Контакты</span>
          <div class="footer__contacts-phone">
            <a class="footer__contacts-phone--link" href="tel:+78003998585">+7 800 399 85 85</a>
            <span>24/7</span>
            <span>Звонок бесплатный</span>
          </div>
        </div>
        <span class="footer__contacts-line"></span>
        <div class="footer__contacts-middle">
          <a class="footer__contacts-middle-text footer__contacts-middle-text--mail"
            href="mailto:proekt@ssk-art.ru">proekt@ssk-art.ru</a>
          <span class="footer__contacts-middle-text footer__contacts-middle-text--address">г. Москва, Варшавское шоссе
            дом 1 стр. 1 (W Plaza)</span>
          <span class="footer__contacts-middle-title">Рекламация</span>
        </div>
        <div class="footer__contacts-logo">
          <img class="footer__logo" src="images/footer-logo.svg" alt="logo">
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <div class="footer-bottom__pays">
          <a href="#!">
            <img src="images/pay-visa.png" alt="visa">
          </a>
          <a href="#!">
            <img src="images/pay-mastercard.png" alt="mastercard">
          </a>
          <a href="#!">
            <img src="images/pay-mir.png" alt="mir">
          </a>
          <a href="#!">
            <img src="images/pay-ruble.png" alt="ruble">
          </a>
          <a href="#!">
            <img src="images/pay-tinkoff.png" alt="tinkoff">
          </a>
          <a class="footer__contacts-middle-text" href="#!">Рассрочка</a>
        </div>
        <div class="footer__copyright">
          <a href="#!">ООО ССК-АРТ ©2023</a>
          <span class="footer__text-line">|</span>
          <a href="#!">Все права защищены</a>
          <span class="footer__text-line">|</span>
          <a href="#!">Не является публичной офертой</a>
          <span class="footer__text-line">|</span>
          <a class="footer__copyright-desk" href="#!">Использование Cookies</a>
          <span class="footer__text-line">|</span>
          <a class="footer__copyright-desk" href="#!">Обработка персональных данных</a>
          <span class="footer__text-line">|</span>
          <a class="footer__copyright-desk" href="#!">Политика конфиденциальности</a>
          <div class="footer__copyright-accardion">
            <div class="footer__content-item-head">
              <span class="footer__item">Правовые страницы</span>
              <svg class="chevron-right">
                <use xlink:href="#chevron-right"></use>
              </svg>
            </div>
            <div class="footer__content-item-body">
              <a href="#!">Использование Cookies</a>
              <span class="footer__text-line">|</span>
              <a href="#!">Обработка персональных данных</a>
              <span class="footer__text-line">|</span>
              <a href="#!">Политика конфиденциальности</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>