<section class="footer-small">
  <div class="container">
    <div class="footer-small__inner">
      <a class="footer-small__link link" href="#!">На сайт</a>
    </div>
  </div>
</section>
<footer class="footer footer--small">
  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom__inner">
        <div class="footer-bottom__pays">
          <a href="#!">
            <img src="images/pay-visa.png" alt="visa">
          </a>
          <a href="#!">
            <img src="images/pay-mastercard.png" alt="mastercard">
          </a>
          <a href="#!">
            <img src="images/pay-mir.png" alt="mir">
          </a>
          <a href="#!">
            <img src="images/pay-ruble.png" alt="ruble">
          </a>
          <a href="#!">
            <img src="images/pay-tinkoff.png" alt="tinkoff">
          </a>
          <a class="footer__contacts-middle-text" href="#!">Рассрочка</a>
        </div>
        <div class="footer__copyright">
          <a href="#!">ООО ССК-АРТ ©2023</a>
          <span class="footer__text-line">|</span>
          <a href="#!">Все права защищены</a>
          <span class="footer__text-line">|</span>
          <a href="#!">Не является публичной офертой</a>
          <span class="footer__text-line">|</span>
          <a class="footer__copyright-desk" href="#!">Использование Cookies</a>
          <span class="footer__text-line">|</span>
          <a class="footer__copyright-desk" href="#!">Обработка персональных данных</a>
          <span class="footer__text-line">|</span>
          <a class="footer__copyright-desk" href="#!">Политика конфиденциальности</a>
          <div class="footer__copyright-accardion">
            <div class="footer__content-item-head">
              <span class="footer__item">Правовые страницы</span>
              <svg class="chevron-right">
                <use xlink:href="#chevron-right"></use>
              </svg>
            </div>
            <div class="footer__content-item-body">
              <a href="#!">Использование Cookies</a>
              <span class="footer__text-line">|</span>
              <a href="#!">Обработка персональных данных</a>
              <span class="footer__text-line">|</span>
              <a href="#!">Политика конфиденциальности</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>