<div class="header-compact">
  <div class="container">
    <div class="header-compact__inner">
      <span class="header-compact__left btn-white">
        <svg class="header-compact__icon">
          <use xlink:href="#dots-grid"></use>
        </svg>
      </span>
      <div class="header-compact__content">
        <nav class="header-compact__nav">
          <div class="header-compact__nav-item">
            <a class="header-compact__nav-item--link header-compact__nav-item--link-1" href="#!">
              <img src="images/header-compact-1.png" alt="header-compact-1">
              <span>Сантехника</span>
              <svg class="down-compact">
                <use xlink:href="#down-compact"></use>
              </svg>
            </a>
          </div>
          <span class="header-compact__nav-line"></span>
          <div class="header-compact__nav-item">
            <a class="header-compact__nav-item--link header-compact__nav-item--link-2" href="#!">
              <img src="images/header-compact-2.png" alt="header-compact-2">
              <span>Климат</span>
              <svg class="down-compact">
                <use xlink:href="#down-compact"></use>
              </svg>
            </a>
          </div>
          <span class="header-compact__nav-line"></span>
          <div class="header-compact__nav-item">
            <a class="header-compact__nav-item--link header-compact__nav-item--link-3" href="#!">
              <img src="images/header-compact-3.png" alt="header-compact-3">
              <span>Освещение</span>
              <svg class="down-compact">
                <use xlink:href="#down-compact"></use>
              </svg>
            </a>
          </div>
          <span class="header-compact__nav-line"></span>
          <div class="header-compact__nav-item">
            <a class="header-compact__nav-item--link header-compact__nav-item--link-4" href="#!">
              <img src="images/header-compact-4.png" alt="header-compact-4">
              <span>Лепнина</span>
              <svg class="down-compact">
                <use xlink:href="#down-compact"></use>
              </svg>
            </a>
          </div>
        </nav>
        <div class="header-compact__right">
          105 752 товара
        </div>
      </div>
    </div>
    <div class="header-catalog">
      <div class="header-catalog__left">
        <div class="header-catalog__left-items">
          <a class="header-catalog__left-item selected" href="#!">
            <span>Сантехника</span>
            <svg class="down-compact">
              <use xlink:href="#down-compact"></use>
            </svg>
          </a>
          <a class="header-catalog__left-item" href="#!">
            <span>Климат</span>
            <svg class="down-compact">
              <use xlink:href="#down-compact"></use>
            </svg>
          </a>
          <a class="header-catalog__left-item" href="#!">
            <span>Освещение</span>
            <svg class="down-compact">
              <use xlink:href="#down-compact"></use>
            </svg>
          </a>
          <a class="header-catalog__left-item" href="#!">
            <span>Лепнина</span>
            <svg class="down-compact">
              <use xlink:href="#down-compact"></use>
            </svg>
          </a>
        </div>
        <div class="header-catalog__left-offer">
          <div class="header-catalog__left-offer-head">
            <h5 class="header-catalog__title">Категории</h5>
          </div>
          <div class="header-catalog__left-offer-body">
            <img class="header-catalog__left-offer-img" src="images/offer-img.jpg" alt="offer">
          </div>
        </div>
      </div>
      <div class="header-catalog__content header-catalog__content--inner">
        <div class="header-catalog__category">
          <div class="header-catalog__category-head">
            <h5 class="header-catalog__title">Категории</h5>
          </div>
          <div class="header-catalog__category-body">

            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Ванны</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Унитазы</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Инталяция</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Ванны</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Унитазы</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Инталяция</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Ванны</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Унитазы</a>
            </div>
            <div class="line-swiper1__item">
              <a class="line-swiper1__img-box" href="#!">
                <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
              </a>
              <a class="line-swiper1__title" href="#!">Инталяция</a>
            </div>

          </div>
        </div>
        <div class="header-catalog__brands">
          <div class="header-catalog__brands-head">
            <h5 class="header-catalog__title">Бренды</h5>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              Aquaton
            </a>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              Aqwella
            </a>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              Geberit
            </a>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              JacobDelafon
            </a>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              Hansgrohe
            </a>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              Remer
            </a>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              Roca
            </a>
          </div>
          <div class="header-catalog__brands-items">
            <a class="header-catalog__brands-item" href="#!">
              Villeroy Boch
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="header-catalog__content header-catalog__content--1">
      <div class="header-catalog__category">
        <div class="header-catalog__category-head">
          <h5 class="header-catalog__title">Категории</h5>
        </div>
        <div class="header-catalog__category-body">

          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>

        </div>
      </div>
      <div class="header-catalog__brands">
        <div class="header-catalog__brands-head">
          <h5 class="header-catalog__title">Бренды</h5>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aquaton
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aqwella
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Geberit
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            JacobDelafon
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Hansgrohe
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Remer
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Roca
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Villeroy Boch
          </a>
        </div>
      </div>
    </div>
    <div class="header-catalog__content header-catalog__content--2">
      <div class="header-catalog__category">
        <div class="header-catalog__category-head">
          <h5 class="header-catalog__title">Категории</h5>
        </div>
        <div class="header-catalog__category-body">

          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>

        </div>
      </div>
      <div class="header-catalog__brands">
        <div class="header-catalog__brands-head">
          <h5 class="header-catalog__title">Бренды</h5>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aqwella
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aquaton
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Geberit
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            JacobDelafon
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Hansgrohe
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Remer
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Roca
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Villeroy Boch
          </a>
        </div>
      </div>
    </div>
    <div class="header-catalog__content header-catalog__content--3">
      <div class="header-catalog__category">
        <div class="header-catalog__category-head">
          <h5 class="header-catalog__title">Категории</h5>
        </div>
        <div class="header-catalog__category-body">

          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>

        </div>
      </div>
      <div class="header-catalog__brands">
        <div class="header-catalog__brands-head">
          <h5 class="header-catalog__title">Бренды</h5>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Geberit
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aqwella
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aquaton
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            JacobDelafon
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Hansgrohe
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Remer
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Roca
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Villeroy Boch
          </a>
        </div>
      </div>
    </div>
    <div class="header-catalog__content header-catalog__content--4">
      <div class="header-catalog__category">
        <div class="header-catalog__category-head">
          <h5 class="header-catalog__title">Категории</h5>
        </div>
        <div class="header-catalog__category-body">

          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-1.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Мебель для ванной</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-2.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Ванны</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-3.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Унитазы</a>
          </div>
          <div class="line-swiper1__item">
            <a class="line-swiper1__img-box" href="#!">
              <img class="line-swiper1__img" src="images/line-swiper-1-4.png" alt="line-swiper">
            </a>
            <a class="line-swiper1__title" href="#!">Инталяция</a>
          </div>

        </div>
      </div>
      <div class="header-catalog__brands">
        <div class="header-catalog__brands-head">
          <h5 class="header-catalog__title">Бренды</h5>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            JacobDelafon
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Geberit
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aqwella
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Aquaton
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Hansgrohe
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Remer
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Roca
          </a>
        </div>
        <div class="header-catalog__brands-items">
          <a class="header-catalog__brands-item" href="#!">
            Villeroy Boch
          </a>
        </div>
      </div>
    </div>
  </div>
</div>