<link rel="stylesheet" href="libs/slick/slick-theme.css">
<link rel="stylesheet" href="libs/slick/slick.css">
<link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="libs/noUiSlider/nouislider.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!--=include sprite.html-->
  <div class="wrapper">
    <div class="overlay-full"></div>
    <header class="header-small">
      <div class="container">
        <div class="header-small__inner">
          <a class="header-small__logo" href="/">
            <img class="logo" src="images/logo.svg" alt="logo">
            <span class="link">SSK-ART</span>
          </a>
          <a class="header-small__link link" href="#!">На сайт</a>
        </div>
      </div>
    </header>